@import "../../styles/responsive.scss";

.card {
  color: var(--text-color);
  background: var(--elements-color);
  margin: 3rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px var(--shadow-color);
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  p {
    margin: 0.3rem 0;
    font-size: 1.1rem;
  }
}

.title {
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 1rem 0 1.5rem 0;
}

.bolder {
  font-weight: bolder;
}

.imgWrapper {
  position: relative;
  width: 250px;
  height: 156px;

  @media screen and (min-width: $md_screen) {
    width: 350px;
    height: 219px;
  }
}
